[daemon]
uid         = 0 # the server must be started as root, but will de-escalate to the prescribed uid/gid after binding to ports.
gid         = 0
pid-file    = /var/run/avuna/httpd.pid # if debug mode is disabled, will be used to prevent multiple instances
error-log   = /etc/avuna/httpd/error.log # logs system-level errors
mime-types	= /etc/avuna/httpd/mime.txt # system-standard mime-type associations
modules     = /etc/avuna/httpd/modules/

[server main]
threads		= 1 # number of worker threads
bindings    = plaintext, tls, tls2
vhosts 		= mainv # vhosts to be loaded, in order of precedence, "mount" vhosts must come first!
access-log  = /etc/avuna/httpd/access.log # local server-level access log
error-log   = /etc/avuna/httpd/error.log # local server-level error log
max-post	= 65536 # max post size in bytes, 0 for unlimited

[binding plaintext]
bind-mode	= tcp # or unix
#bind-ip	= 0.0.0.0 # unix socket paths too!
bind-port	= 8080
#OR
#bind-file	= /etc/avuna/httpd/httpd.sock
max-conn	= 0 # 0 for unlimited
#protocol   = http/1.1 # or http/2.0 (always can be upgraded to http2.0, but setting it here forces http2.0 always)

[binding tls]
bind-mode	= tcp # or unix
bind-port	= 8081
max-conn	= 0 # 0 for unlimited
ssl         = test

[binding tls2]
bind-mode	= tcp # or unix
bind-port	= 8082
max-conn	= 0 # 0 for unlimited
ssl         = test
protocol    = http/2

[ssl test]
publicKey	= /etc/avuna/httpd/test.crt
privateKey	= /etc/avuna/httpd/test.key

[vhost mainv]
type		= htdocs
host        = *
htdocs	    = /var/www/html/ # document root
index	  	= index.php, index.html, index.htm # in order of precedence
error-999	= /errors/999.html # imaginary code, if no page for a code is set, default style is used. This cannot be a FCGI page!
symlock		= true # prevent symlinking out of htdocs
nohardlinks	= true # disable all hardlinks
cache-types	= text/css,application/javascript,image/* # used for Cache-Control header
cache-maxage= 604800 # 0 to disable cache-control
enable-gzip	= true # enables when-available gzip compression
scache		= true # if true, static files are cached server side.
maxSCache	= 0 # in bytes, the maximum size of the static cache. 0 = unlimited
providers   = php-fpm

[provider php-fpm]
type        = fcgi
mode		= unix
file		= /run/php/php7.2-fpm.sock
mime-types	= application/x-php # mime-types to forward
